{% load staticfiles %}
{% url 'slide' as slide_api %}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}H-ui-admin/static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}H-ui-admin/static/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}H-ui-admin/lib/Hui-iconfont/1.0.8/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}H-ui-admin/static/h-ui.admin/skin/default/skin.css"
          id="skin"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}H-ui-admin/static/h-ui.admin/css/style.css"/>
    <!--[if IE 6]>
    <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>修改轮播</title>
</head>
<body>
<div class="page-container">
    <form class="form form-horizontal" id="form-add" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" value="{{ slide.id }}" name="id" id="slide_id">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>图片标题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{{ slide.title }}" placeholder="请输入图片标题" id="title"
                       name="title">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">图片：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="file" name="img" id="img">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"></label>
            <div class="formControls col-xs-8 col-sm-9">
                {% if slide.img %}
                    <img id="img_show" style="max-height: 135px; max-width: 240px" src="{{ MEDIA_URL }}{{ slide.img }}"
                         alt="">
                {% else %}
                    <img id="img_show" style="max-height: 135px; max-width: 240px" src="{{ STATIC_URL }}img/none.png"
                         alt="">
                {% endif %}
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">图片摘要：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="remark" cols="" rows="" class="textarea" placeholder="说点什么...最少输入10个字符"
                          datatype="*10-100"
                          dragonfly="true" nullmsg="备注不能为空！" onkeyup="">{{ slide.remark }}</textarea>
                <p class="textarea-numberbar"><em class="textarea-length">0</em>/200</p>
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button class="btn btn-primary radius" type="submit"><i
                        class="Hui-iconfont">&#xe632;</i> 提交
                </button>
                <button onclick="layer_close();" class="btn btn-default radius" type="button">
                    &nbsp;&nbsp;取消&nbsp;&nbsp;
                </button>
            </div>
        </div>

    </form>


</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="{{ STATIC_URL }}H-ui-admin/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}H-ui-admin/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}H-ui-admin/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}H-ui-admin/static/h-ui.admin/js/H-ui.admin.js"></script>
<!--/_footer 作为公共模版分离出去-->
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript"
        src="{{ STATIC_URL }}H-ui-admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript"
        src="{{ STATIC_URL }}H-ui-admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}H-ui-admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/global.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/compress.js"></script>
<script type="text/javascript">
    $(function () {

        $("#form-add").validate({
            {#ignore: ":hidden:not(select)",//解决无法校验select#}
            rules: {
                title: {
                    required: true,
                    minlength: 1,
                    maxlength: 100
                },
            },
            messages: {},
            {#onkeyup: false,#}
            {#focusCleanup: true,#}
            success: "valid",
            submitHandler: function (form) {
                if (!fileIsNone()) {
                    if (!checkType()) {
                        layer.msg("只能上传图片格式的文件！");
                        return;
                    }
                    if (!checkImgSize()) {
                        layer.msg("图片大小不能超过1.5M！");
                        return;
                    }
                }
                let formData = new FormData($('#form-add')[0]);
                if (fileIsNone()) {
                    submitForm(formData);
                    return;
                }
                //压缩图片
                lrz(document.querySelector('input[type=file]').files[0], {
                    quality: 0.3 //设置压缩率
                }).then(function (rst) {
                    /* 处理成功后执行 */
                    //rst.formData.append('base64img', rst.base64); // 添加额外参数
                    console.log(rst.file);
                    formData.delete('img');
                    formData.append("img", rst.file, "file_" + Date.parse(new Date()) + ".jpg"); //  文件对象
                    submitForm(formData);
                }).catch(function (err) {
                    /* 处理失败后执行 */
                    console.log("压缩失败");
                }).always(function () {
                    /* 必然执行 */
                });
            }
        });
    });

    function submitForm(formData) {
        $.ajax({
            type: 'PATCH',
            url: '{{ slide_api }}',
            data: formData,
            processData: false,// 不处理数据
            contentType: false, // 不设置内容类型
            success: function (data) {
                console.log(data);
                if (data.code === 1) {
                    layer.msg(data.msg, {icon: 6, time: 1000}, function () {
                        layer.close(layer.index);
                        window.parent.location.reload();
                    });
                } else if (data.code === 0) {
                    layer.msg(data.msg.content[0], {icon: 5, time: 1000});
                }
            },
            error: function (data) {
                console.log(data);
            }
        });
    }

    //上传图片选择文件改变后刷新预览图
    $("#img").change(function (e) {
        //获取目标文件
        let file = e.target.files || e.dataTransfer.files;
        //如果目标文件存在
        if (file) {
            //定义一个文件阅读器
            let reader = new FileReader();
            //文件装载后将其显示在图片预览里
            reader.onload = function () {
                $("#img_show").attr("src", this.result);
            };
            //装载文件
            reader.readAsDataURL(file[0]);
        }
    });

    function checkType() {
        //得到上传文件的值
        let fileName = document.getElementById("img").value;
        {% comment %}        if (fileName === '' || fileName == null) {
                    return 1;
                }{% endcomment %}
        //返回String对象中子字符串最后出现的位置.
        let seat = fileName.lastIndexOf(".");
        //返回位于String对象中指定位置的子字符串并转换为小写.
        let extension = fileName.substring(seat).toLowerCase();
        //判断允许上传的文件格式
        let allowed = [".jpg", ".gif", ".png", ".jpeg"];
        for (let i = 0; i < allowed.length; i++) {
            if (!(allowed[i] !== extension)) {
                return 1;
            }
        }
        return 0;
    }

    function checkImgSize() {
        let file = document.getElementById("img");
        {% comment %}        if (file.value === '' || file.value == null) {
                    return true;
                }{% endcomment %}
        return ((file.files[0].size) / 1024 / 1024) <= 1.5;
    }

    function fileIsNone() {
        let fileName = document.getElementById("img").value;
        return fileName === "" || fileName == null;
    }
</script>
</body>
</html>