{% extends 'base.html' %}

{% block title %}
    <title>分类</title>
{% endblock %}

{% block sort %}
    <div class="nb-a-holder" id="home"><a class="nb-a ta-c" href="/">首页</a></div>
    <div class="nb-a-holder">
        <a id="active" class="nb-a ta-c" href="{% url 'category_all' %}">分类</a>
        <ul id="category-ul" class="nav-ul" style="display: none;">
            {% comment %}                <li class="nav-li nav-li-bd ta-c"><a href="#">HTML</a></li>
                <li class="nav-li nav-li-bd ta-c"><a href="#">CSS</a></li>
                <li class="nav-li nav-li-bd ta-c"><a href="#">JS</a></li>
                <li class="nav-li ta-c"><a href="#">vue.js</a></li>{% endcomment %}
        </ul>
    </div>
    <div class="nb-a-holder"><a class="nb-a ta-c" href="{% url 'label_wall_all' %}">标签墙</a></div>
    <div class="nb-a-holder"><a class="nb-a ta-c" href="{% url 'archive_all' %}">归档</a></div>
    <div class="nb-a-holder"><a class="nb-a ta-c" href="{% url 'links' %}">友情链接</a></div>
{% endblock %}

{% block content %}
    {% load staticfiles %}
    {% load compress %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">
        <meta charset="UTF-8">
        {% compress css %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/myPagination.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
        {% endcompress %}
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    </head>
    <body>

    <!--主体-->
    <div class="big-container">
        <article class="article">

            <!--右容器-->
            <div class="right-holder">
                <div class="column-container">
                    <ul class="column_box" id="like-box">
                        <li class="column-title b-b-ece c-29">文章分类</li>
                        {% for category in category_list %}
                            <li class="column-category b-b-ece">
                                {% if category.category_name == category_name %}
                                    <a id="a-active" href="{% url 'category' category.category_name %}">
                                        {{ category.category_name }}&nbsp;&nbsp;{{ category.number }}&nbsp;篇
                                    </a>
                                {% else %}
                                    <a href="{% url 'category' category.category_name %}">
                                        {{ category.category_name }}&nbsp;&nbsp;{{ category.number }}&nbsp;篇
                                    </a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>

            <!--左容器-->
            <div class="result-box fl">
                <!--文章内容-->
                <div id="article-holder" style="width: 100%; float: left">
                    {% for article in article_list %}
                        <div class="article-box">
                            <div class="ab-content">
                                <div class="article-title"><a
                                        href="/front/articleDetail/{{ article.id }}/">{{ article.title }}</a></div>
                                <div class="article-cate"><a
                                        href="/front/category/{{ article.category.parent.category_name }}">{{ article.category.parent.category_name }}</a>
                                    <a style="color:#a6a6a6">/</a>
                                    <a href="/front/label/{{ article.category.category_name }}">{{ article.category.category_name }}</a>
                                </div>
                                <a href="/front/articleDetail/{{ article.id }}/" class="article-img-box">
                                    <img class="article-img"
                                         data-original="{{ MEDIA_URL }}{{ article.img }}"
                                         alt=""
                                         src="{{ MEDIA_URL }}{{ article.img }}"
                                         style="">
                                </a>
                                <div class="article-detail-box c-666">
                                    {{ article.content | slice:":200" }}
                                </div>
                                <span class="article-tail-box">
                                <i class="fl" style="background-image: url('{{ STATIC_URL }}img/read-index.svg')"></i>
                                <span class="read-number c-999 fl">{{ article.read_number }}</span>
                                <i class="fl"
                                   style="background-image: url('{{ STATIC_URL }}img/comment-index.svg')"></i>
                                <span class="comment-number c-999 fl">{{ article.comment_number }}</span>
                                <span class="article-date c-999">{{ article.gmt_created | date:'Y-m-d' }}</span>
                                <span class="article-author one-line-overflow c-999">{{ article.user.user_name }}</span>
                             </span>
                            </div>
                        </div>
                    {% empty %}
                        <div class="article-box">
                            <div class="ab-content" style="height:280px; line-height:280px; text-align:center;">
                                <h1>暂无数据</h1>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <!--分页指示器-->
                <div id="pagination" class="pagination fl"></div>
            </div>

        </article>
    </div>

    <!--尾部-->
    {% include 'foot.html' %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/jquery.lazyload.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/sweetalert.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/myPagination.js' %}"></script>
    {% endcompress %}
    <script type="text/javascript">
        $(function () {
            //图片懒加载
            $("img").lazyload({
                //placeholder: "", //用图片提前占位
                // placeholder,值为某一图片路径.此图片用来占据将要加载的图片的位置,待图片加载时,占位图则会隐藏
                effect: "fadeIn", // 载入使用何种效果
                // effect(特效),值有show(直接显示),fadeIn(淡入),slideDown(下拉)等,常用fadeIn
                threshold: 100, // 提前开始加载
                // threshold,值为数字,代表页面高度.如设置为200,表示滚动条在离目标位置还有200的高度时就开始加载图片,可以做到不让用户察觉
                {#event: 'sporty',  // 事件触发时才加载#}
                // event,值有click(点击),mouseover(鼠标划过),sporty(运动的),foobar(…).可以实现鼠标莫过或点击图片才开始加载,后两个值未测试…
                {#container: $("#article-holder"),  // 对某容器中的图片实现效果#}
                // container,值为某容器.lazyload默认在拉动浏览器滚动条时生效,这个参数可以让你在拉动某DIV的滚动条时依次加载其中的图片
                failurelimit: 1 // 图片排序混乱时
                // failurelimit,值为数字.lazyload默认在找到第一张不在可见区域里的图片时则不再继续加载,但当HTML容器混乱的时候可能出现可见区域内图片并没加载出来的情况,failurelimit意在加载N张可见区域外的图片,以避免出现这个问题.
            });
        });

        new myPagination({
            id: 'pagination',
            curPage: {{ article_list.number }}, //初始页码
            pageTotal: {{ article_list.paginator.num_pages }}, //总页数
            pageAmount: {{ article_list.paginator.per_page }},  //每页多少条
            dataTotal: {{ article_list.paginator.count }}, //总共多少条数据
            pageSize: 3, //可选,分页个数
            showPageTotalFlag: true, //是否显示数据统计
            {#showSkipInputFlag: true, //是否支持跳转#}
            getPage: function (page) {
                let url = window.location.href;
                let index = url.indexOf('?');
                if (index !== -1) {
                    url = url.substring(0, index);
                }
                window.location.href = url + "?page=" + page;
            }
        });
    </script>
    </body>
    </html>
{% endblock %}

