{% load staticfiles %}
{% url 'link' as link_api %}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}H-ui-admin/static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}H-ui-admin/static/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}H-ui-admin/lib/Hui-iconfont/1.0.8/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}H-ui-admin/static/h-ui.admin/skin/default/skin.css"
          id="skin"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}H-ui-admin/static/h-ui.admin/css/style.css"/>
    <!--[if IE 6]>
    <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>新增友链</title>
</head>
<body>
<div class="page-container">
    <form class="form form-horizontal" id="form-add">
        {% csrf_token %}
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>友链名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="请输入友链名称" id="link_name"
                       name="link_name">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">友链描述：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="请输入友链描述" id="description"
                       name="description">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">友链地址：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="请输入友链地址" id="link_url"
                       name="link_url">
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button class="btn btn-primary radius" type="submit"><i
                        class="Hui-iconfont">&#xe632;</i> 提交
                </button>
                <button onclick="layer_close();" class="btn btn-default radius" type="button">
                    &nbsp;&nbsp;取消&nbsp;&nbsp;
                </button>
            </div>
        </div>

    </form>


</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="{{ STATIC_URL }}H-ui-admin/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}H-ui-admin/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}H-ui-admin/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}H-ui-admin/static/h-ui.admin/js/H-ui.admin.js"></script>
<!--/_footer 作为公共模版分离出去-->
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript"
        src="{{ STATIC_URL }}H-ui-admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript"
        src="{{ STATIC_URL }}H-ui-admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}H-ui-admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/global.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/compress.js"></script>
<script type="text/javascript">
    $(function () {

        $("#form-add").validate({
            {#ignore: ":hidden:not(select)",//解决无法校验select#}
            rules: {
                link_name: {
                    required: true,
                    minlength: 1,
                    maxlength: 100
                },
                link_url: {
                    required: true,
                    minlength: 1,
                    maxlength: 255
                },
                description: {
                    required: true,
                    minlength: 1,
                    maxlength: 255
                }
            },
            messages: {},
            {#onkeyup: false,#}
            {#focusCleanup: true,#}
            success: "valid",
            submitHandler: function (form) {
                $(form).ajaxSubmit({
                    type: 'PUT',
                    url: '{{ link_api }}',
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.code === 1) {
                            layer.msg(data.msg, {icon: 6, time: 1000}, function () {
                                layer.close(layer.index);
                                window.parent.location.reload();
                            });
                        } else if (data.code === 0) {
                            layer.msg(data.msg, {icon: 5, time: 1000});
                        }
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            }
        });
    });


</script>
</body>
</html>